<div class="open">
    <img src="angry.jpg">
    <h1 style="font-size: 40pt">You must login!</h1>
    <form method="GET" action="/try_again" id="try_again"></form>
    <button type="submit" form="try_again" value="Submit" class="submit" style="height: 50px; width: 300px;">Try Again!</button>
</div>